#.idea
MTML-Transformer/.idea/
.ipynb_checkpoints/
Checkpoints/
!Checkpoints/.gitkeep

Data/*
!Data/.gitkeep

results/*
!results/.gitkeep

explain/*
!explain/.gitkeep

Config/*
!Config/.gitkeep

*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.ipynb_checkpoints
.env
.venv
.envrc

.vscode/
.idea/
*.bak
*.orig